<a href="https://colab.research.google.com/github/Helaena-Cambel/OOP-58001/blob/main/Fundamentals%20of%20Python%20(Edited).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Fundamentals of Python

**Python Variables**

In [ ]:
x = float(1)
a, b = 0, -1
a, b, c = "Sally", "John", "Ana"

print('This is a sample')
print(a)
print(c)

This is a sample
Sally
Ana

**Casting**

In [ ]:
print(x)

1.0

**Type() Function**

In [ ]:
y = "Johnny"

print(type(y))
print(type(x))

<class 'str'>
<class 'float'>

**Double Quotes and Single Quotes**

In [ ]:
#h = "Maria"
h = 'Maria'
v = 1
V = 3

print(h)
print(v)
print(v+1)
print(V)

Maria
1
2
3

**Multiple Variables with Different Value**

In [ ]:
x, y, z = "one", "two", 'three'

print(x)
print(y)
print(z)
print(x, y, z)

one
two
three
one two three

**One Value to Multiple Variables**

In [ ]:
x = y = z = "Stella"
print(x, y, z)
print(x)
print(y)
print(z)

Stella Stella Stella
Stella
Stella
Stella

**Output Variables**

In [ ]:
x = "enjoying"
y = "Python is"

print("Python is " + x)
print(y + " " + x)

Python is enjoying
Python is enjoying

**Arithmetic Operations**

In [ ]:
f = 2
g = 4
i = 6

print(f+g)
print(f-g)
print(f*i)
print(int(i/g))
print(3/g)
print(3%g)
print(3//g)
print(3**6)

6
-2
12
1
0.75
3
0
729

**Assignment Operators**

In [ ]:
k = 2
l = 3
k+=3 #same as k=k+3

print(k)

print(l>>1)

5
1

**Boolean Operators**

In [ ]:
k = 5
l = 10
print(k>>2) #shift right twice
print(k<<2) #shift left twice

1
20

**Relational Operators**

In [ ]:
v=1
k=2

print(v>k)
print(v==k)

False
False

**Logical Operators**

In [ ]:
print(v<k and k==k)
print(v<k or k==v)
print(not (v<k or k==v))

True
True
False

**Identity Operators**

In [ ]:
print(v is k)
print(v is not k)

False
True