<a href="https://colab.research.google.com/github/Helaena-Cambel/OOP-58001/blob/main/Fundamentals%20of%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Fundamentals of Python

Python Variables

In [ ]:
x = float(1)
a, b = 0, -1
a, b, c = "Sally", "John", "Ana"

print('This is a sample')
print(a)
print(c)

This is a sample
Sally
Ana

Casting

In [ ]:
print(x)

1.0

Type() Function

In [ ]:
y = "Johnny"

print(type(y))
print(type(x))

<class 'str'>
<class 'float'>

Double Quotes and Single Quotes

In [ ]:
#h = "Maria"
h = 'Maria'
v = 1
V = 3

print(h)
print(v)
print(v+1)
print(V)

Maria
1
2
3

Multiple Variables with Different Value

In [ ]:
x, y, z = "one", "two", 'three'

print(x)
print(y)
print(z)
print(x, y, z)
print(type(x))
print(type(y))
print(type(z))

one
two
three
one two three
<class 'str'>
<class 'str'>
<class 'str'>

One Value to Multiple Variables

In [ ]:
x = y = z = "Stella"
print(x, y, z)
print(x)
print(y)
print(z)

Stella Stella Stella
Stella
Stella
Stella

Output Variables

In [1]:
x = "enjoying"
y = "Python is"

print("Python is " + x)
print(y + " " + x)

Python is enjoying
Python is enjoying